*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
header{
  height: 60vh;
  width: 100%;
  background-image: url(../image/fondo.jpeg);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
  }

  .design {
    background-color: #fffffff1;


  }
  
  h1 {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  #options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }
  
  #options button {
    background-color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  #options button:hover {
    transform: scale(1.1);
  }
  
  #result {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
    margin: 1%;
    padding: auto;
  }
  #reinicio {
    display: flex;
    width: 100px;
    height: 35px;
  }

footer {
    display: flex;
    background-color: #408cff;
    color: white;
    padding: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
  
}